.callToActionconatiner {
  padding: 0rem 16rem;
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 3fr 1fr;
}
.middleImg {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
}
.middleImg > img {
  width: 60rem;
  position: absolute;
  bottom: 0;
}

.topSideText {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.topSideText > h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: min-content;
  display: block;
  font-weight: 600;
}
.text1 {
  display: flex;
  flex-direction: column;
  display: block;
}
.topSideText > :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}
.topSideText > :nth-child(2) {
  display: block;
}

/*styling links*/
.links {
  display: flex;
  align-items: flex-end;
  color: var(--blue);
}
.links > ul {
  list-style: none;
}
